<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
		<div class="login_wrap">	
		<div class="login_content">	
			<h1 class="login_logo"><span>	Data Platform Interface System</span></h1>
			<div class="login_nav">
				<h2>Welcome to Interface, Login</h2>	
				<form id="fm01">
					<div class="mb_20">
						<input id="userid" name="userid" type="text" placeholder="User ID" title="아이디">
					</div>
					<div class="mb_20">
						<input id="password" name="password" type="password" placeholder="Password" title="비밀번호">
					</div>
					<div>
						<input type="button" value="LOGIN" class="login_btn">
					</div>
				</form>
			</div>

		</div>	
	</div>
	<script type="text/javascript" src="js/lib/jquery.min.js"></script>
	<script type="text/javascript">
	
 	$(document).ready(function(){
				
		$(".login_btn").on("click", function(){
			
			login_ajax_submit();
		});
	}); 
	
	
/* $(".login_btn").click(function(){
	alert("1");
	login_ajax_submit();
});
 */
function login_ajax_submit(){
	
	var login = {
				id : $("#userid").val()
           , password : $("#password").val()
	}
	
	alert(JSON.stringify(login));
	console.log(login);
	
	$.ajax({
		type: "GET",
		contentType:	"application/json",
		url:	"/login",
		data:	JSON.stringify(login),
		dataType: "json",
		success:	function(data){
			var rtn = data.success;
			if(!rtn){
				alert("로그인 실패");
				return
			}else{
				alert("로그인 성공");
				location.replace("/main")
			}
		}
	});
}
	
	</script>
</body>


</html>